version: "3.9"

services:
  order-service:
    build:
      context: .
      dockerfile: services/order-service/Dockerfile
    container_name: order-service
    ports:
      - "${ORDER_PORT}:${ORDER_PORT}"
    environment:
      - SERVER_PORT=${ORDER_PORT}
      # Point to host machine's localhost (local-infra)
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - REDIS_HOST=${REDIS_HOST}
      # Service Discovery (Docker DNS)
      - INVENTORY_SERVICE_URL=http://inventory-service:${INVENTORY_PORT}
      - PAYMENT_SERVICE_URL=http://payment-service:${PAYMENT_PORT}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - inventory-service
      - payment-service

  inventory-service:
    build:
      context: .
      dockerfile: services/inventory-service/Dockerfile
    container_name: inventory-service
    ports:
      - "${INVENTORY_PORT}:${INVENTORY_PORT}"
    environment:
      - SERVER_PORT=${INVENTORY_PORT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - REDIS_HOST=${REDIS_HOST}
    extra_hosts:
      - "host.docker.internal:host-gateway"

  payment-service:
    build:
      context: .
      dockerfile: services/payment-service/Dockerfile
    container_name: payment-service
    ports:
      - "${PAYMENT_PORT}:${PAYMENT_PORT}"
    environment:
      - SERVER_PORT=${PAYMENT_PORT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
    extra_hosts:
      - "host.docker.internal:host-gateway"
