#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 2em;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-table th, .order-table td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
}

.order-table th {
  background-color: #333;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  border-radius: 8px;
}

button:hover {
  border-color: #646cff;
}
